.badge {
  font-size: 0.9rem;
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
  color: var(--color-white);
}

.badge--pending {
  background-color: var(--color-pending);
}

.badge--progress {
  background-color: var(--color-progress);
}

.badge--complete {
  background-color: var(--color-complete);
}

.badge--late {
  background-color: var(--color-late);
}
